*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

}
body{
    background:black;
    color: white;
}
html{
    scroll-behavior: smooth;
}
/*..........................................................Header section...............................*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background\ copy-2.png);
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
    height: 80px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 5px; 
    margin-left: 80px;
}

nav ul li a{
    text-decoration:none;
    height: 6px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: relative;
}
nav ul li a.home{
    text-decoration: underline brown solid;
    color: brown;  
}
nav ul i ion-icon{
    display: none;
}
nav i.fa-solid{
    width: 80px;
    height: 80px;
    font-size: 30px;
    color: brown;
    font-weight: 500px;
    display: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: brown;
    transition: 0.4s;
}
.header-text{
    margin-top: 20%;
    font-size: 25px;
}
.header-text p{
    font-weight: bold;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.intro{
font-size: 40px;
font-weight: 800;
}
/*............................typing-effect..................*/

.typing-effect{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid orangered;
    animation: typing 5s steps(27, end) infinite alternate, blink-caret .5s step-end infinite;
}
@keyframes typing{
    0%, 20%{width:0;}
    80%, 100%{width:13ch;}
}
@keyframes blink-caret{
    0%, 100% {border-color: transparent;}
    50%{border-color: orangered;}
}




.header-text h1 span{
    color: brown;
}

/*.....................About me section...............*/
#about{
    padding: 80px;
}
.first-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-column-1{
    flex-basis: 35%;
}
.about-column-1 img{
    border-radius: 15px;
    width: 100%;
}
.about-column-2{
    flex-basis: 60%;
}
.about-column-2 .sub-title{
    font-weight: 600;
    color: white;
    font-size: 50px;
}

/*...........................Tab-content in About me section.......................*/
form{
    margin-top: 50px;
}
.second-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tab-column h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}
.tab-column ul li{
    list-style: none;
    margin-right: 5px;
    margin-top: 15px;
}
.tab-column ul li span{
    color: rgb(125, 33, 33);
    font-weight: bold;
}
/*..........................Service section..................................*/

.service-container .sub-title{
    font-size:50px;
    color: white;
    font-weight: 600;
}
#services{
    padding:30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: rgb(41, 41, 41);
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -50px;
  margin-left: 80px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
background-color: brown;
transform: translateY(-10px);
}

/*....................................Portfolio section......................*/
#portfolio{
    padding: 80px;
    margin-top: -150px;
}
.portfolio-container h1{
    font-size: 40px;
    font-weight: 600;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;  
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.2), #ff004f);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight:bold;
    margin-bottom: 20px;
    font-size: 20px;
}
.layer a{
    text-decoration: none;
    color: brown;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    align-items: center;
    margin-top: 20px;
    line-height: 50px;
}
.work img:hover{
    transform: scale(1.5);
}
.work:hover .layer{
    height: 100%;
}
/*.....................................................new section..........................*/
.small-title{
    margin-left: 5%;
}
hr{
    width: 90%;
    margin: auto;
}
/*.....................................my skills section ...................................*/
.skills{
    width: 90%;
   padding: 60px 0;
   white-space: nowrap;
    overflow: hidden;
    margin: auto;
}
.skills-2{
    width: 90%;
   padding: 60px 0;
   white-space: nowrap;
    overflow: hidden;
    margin: auto;
    display: none;
}
.logo-slide{
    animation: 20s slide infinite linear;
    display: inline-block;
}
.slide-right{
    animation: 20s slide-right infinite linear;
    display: inline-block; 
}
.skills:hover .logo-slide{
    animation-play-state: paused;
}

.logo-slide img{
    height: 60px;
    margin:0 20px;
    aspect-ratio: 3/2;
    object-fit: contain;
    cursor: pointer;
}
.logo-slide img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
@keyframes slide{
    from{
transform: translateX(0%);
    }
    to{
transform: translateX(-100%);
    }
}

/* ............................................................
.logo-slide {
    width: 100%;
    position: relative;
    display:flex;
    margin: 70px auto;
    align-items: center;
    white-space: no-wrap;
    animation: 25s slide linear infinite;
}

.logo-wrapper{
    border: 1px solid rgb(39, 118, 93); 
    border-top: 3px solid rgba(36, 138, 87, 0.862);
    border-bottom: 3px solid rgba(36, 138, 87, 0.862);
     border-radius: 5px;
    width: 140px;
    height: 100px;
    padding: 2px;
    margin: 0 20px;
    cursor: pointer; 
}
.logo-wrapper h3{
text-align: center;
}

.logo-slide img {
    height: 60px; 
    margin: 5px 5px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    padding: 10px 5px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.logo-wrapper img:hover {
    transform: scale(1.3);
    transition: 0.3s;
}
.logo-slide:hover{
    transform:translate(4px);
    animation-play-state: paused;  
}
@keyframes slide{
    from{
transform: translateX(0%);
    }
    to{
transform: translateX(-100%);
    }
}

/*...............................Contact section.................................................*/
form{
    margin-top: -70px;
}
.contact-row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.contact-container{
    padding: 80px;
}
.contact-container h1{
    margin-bottom: 10px;
    font-size: 40px;
}
.contact-container .p2{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.contact-container a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.contact-container .fa-solid{
    color: brown;
    font-size: 20px;
}
.contact-container span{
    margin-left: 10px;
    color: brown;
}
.contact-container span:hover{
    text-decoration: underline white solid 3px;
    height: 15px;
}

/*...............................................Social media icons...................................*/

 .social-media-icons .fa-brands{
    width: 35px;
    height: 35px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    line-height: 38px;
    text-align: center;
    background:brown;
    border-radius: 50%;
    cursor: pointer;
}
.icons .fa-brands{
    margin: 0 12px;
}
 .social-media-icons .fa-brands:hover{
    background: white;
    color: brown;
    opacity: 0.4;
    transition: 0.3s;
}
.btn{
    margin: 25px -30px;
    width: auto;
    justify-content: space-between;
}
.btn button{
    width: 140px;
    height: 40px;
    background: none;
    border: 1px solid brown;
    border-radius: 8px;
    margin: 0 30px;
}
.btn button a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    font-weight: 700;

}
/*............................................................. Download button.................................................. */ 
.buttonDownload {
    width:500px;
    display: inline-block;
    position: relative;
    padding: 10px 12px;
    background-color:orangered;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    text-indent: 15px;
    border: none;
    opacity: 1;
   }
   
   .buttonDownload:hover {
   opacity: 1;
   transition: 0.3s;
    color: white;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 8px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
    
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 0.5s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: white;
   }
   
   .buttonDownload:hover:after {
    border-top-color: white;
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.8;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.8;
    }
   }
/*.................................Message-section.....................*/
.contact-container button{
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border-radius: 8px;
    background:orangered;
    outline: none;
    border: none;
    cursor: pointer;
}
.contact-container button a{
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.contact-container button:hover{
    opacity: 0.5;
}

.message-container{
    padding: 100px;
    margin-left: -1000px;
    margin-top: 50px;
}

.message-container input{
    width: 550px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 10px 10px;
    border:none;
    outline: none;
}
.message-container textarea{
    width: 550px;
    height: 100px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 10px;
    border:none;
    outline: none;
    resize: none;
}

.message-container button {
    height: 40px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-left: 390px;
    margin-top: 5px;
    background: orangered;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
   
}
.message-container button:hover{
    opacity: 0.5;
  
}

/*.................................Back to top button.........................*/

.bottom-top:hover{
    opacity: 0.4;
    transition: 0.2s;
    border: white solid 1px;
}
.bottom-top a{
    text-decoration: none;
}
.bottom-top a i{
    color: white;
    margin-left: 10px;
    font-size: 16px;
}

.bottom-top a span{
    color:white;
    font-size: 17px;
    font-weight: bold;
}

/* ..........Submit button -...................*/ 
.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  /* ...............................Back to top button............................... */ 
.top-bottom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
   border: 2px solid orangered;
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin: 12px auto;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .top-bottom:hover {
    width: 140px;
    border-radius: 30px;
    transition-duration: 0.3s;
   color: white;
    opacity: 1;
    
    align-items: center;
  }
  
  .top-bottom:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .top-bottom::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .top-bottom:hover::before {
    font-size: 16px;
    opacity: 1;
    color: white;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  
/*...............................Footer-section.........................*/
.copyright{
    background: grey;
    height: 35px;
    width: 100%; 
    padding-top: 10px;
    position: absolute;
}
.copyright p{
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: -50px;
}
.copyright p span{
    margin-left: 500px;
}

/*....................................................CSS for small screens......................*/

@media only screen and (max-width:600px){
/*....................................................Header section......................................*/
.logo{
 float:left;
}
    #header{
        width: 75%;
        background-image: url(images/User-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        margin-bottom: 40px;
}
.intro{
    font-size: 20px;
}
.header-text{
    font-size: 20px;
}
/*........................................Menu section......................*/
nav ul{
  background:brown; 
  top: 0;
  right: -200px;
  position: fixed;
  width: 200px;
  height: 400px;
  padding-top:0px;
  z-index: 2;
  border-radius: 5px;
  transition:right 0.7s;
}

nav ul i ion-icon{
    display: block;
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 20px;
}
nav ul li{
    display: block;
   margin-left: 25px;   
   padding: 50px 5px;
   margin-top: -80px;
}
nav ul li a{
    font-size: 18px;
}
nav i.fa-solid{
    display: block;
    position: absolute;
    color: white;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 5px;
}
/*...............................Header text.........................*/
.header-text{
    margin-top: 50%;
}
.header-text p{
    font-size: 16px;
}
.header-text h1{
    font-size: 20px;
    margin: 12px 0;
}

/*..............................................About me section.....................................*/
#about{
    padding: 10px;
}
.first-row{
    flex-wrap: nowrap;
    display:inline-flex;
    margin-left: -250px;
}
.about-column-1 img{
    display: none;
}
.about-column-2{
    flex-basis: 60%;
}
.about-column-2 p{
    width: 70%;
}
.about-column-2 .sub-title{
    font-size: 30px;
}

.second-row{
    flex-wrap: wrap;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
}

.tab-column h2{
    margin-top: 10px;
    font-size: 25px;
}
/*............................................Service section........................*/
#services{
    margin:50px auto;
}
h1{
    font-size: 20px;
    font-weight: 800;
}
#services{
    padding: 12px 0;
}
.service-list{
    display: inline-block;
    margin-top: 20px;
}
.service-list div{
    width: 75%;
    margin:20px auto;
    padding: 20px;
}
.service-list div h2{
    font-size: 25px;
    font-weight: bold;
}

/*..........................................Portfolio section................................*/
#portfolio{
    padding: 20px;
    margin:0px auto;
    width: 75%;
}
.portfolio-container h1{
    font-size: 20px;
}
.layer{
    height: 100%;
    margin-top: 10px;
}
.layer h3{
    font-size: 25px;
    font-weight: 800;
}
.blog-section{
    display: none;
}
/*..............................Contact section........................*/
.contact-column{
    margin: auto;
}
.message-container{
    margin: auto;
}
.contact-container{
    margin: 30px auto;
}
.contact-container .p1{
    font-size: 14px;
}
.contact-container .p2{
    font-size: 16px;
}
.contact-container button{
    margin: 15px 20px;
    width: 160px;
}
.message-container{
    margin-top: 20px;
    margin-left: -80px;
    margin-top: -40px;
}
.message-container input{
    width: 250px;
}
.message-container textarea{
    width: 250px;
}
.message-container .button{
    margin-left: 50px;
    width: 150px;
}
/*...........................................................*/
.logo-slide img{
    margin: 0 0px;
}
.skills{
    width:75%;
    margin: 0 auto;
}
.buttonDownload{
    font-size: 10px;
    
}
.social-media-icons .fa-brands{
    margin: 0 6px;
   height: 25px;
   width: 25px;
   font-size: 15px;
   line-height: 28px
}
.btn{
    display: flex;
}
.btn button{
    width: 120px;
    height: 30px;
}
.btn button a{
    font-size: 12px;
    font-weight: 800;
}
.wrapper{
  justify-content: center;
}

/*..........................................Back to top button.........................*/
.bottom-top{
    margin-left: 80px;
}

/*............................................Footer section.............................*/
.copyright{
    width: 100%;
}
.copyright p{
    font-size: 15px;
    margin-left: -100px;
}
.copyright span{
  display: none;
}




}